html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  font-family: "nanum godic";
}

p {
  font-size: 16px;
  font-family: "avenir";
}

a {
  text-decoration: none;
  color: #ffca3d;
  font-size: 18px;
  font-family: "avenir";
}

.navbar-list {
  position: sticky;
  top: 0;
  display: inline-block;
  align-items: center;
  padding: 5px 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  padding-right: 20px;
}

.movie-detail {
  width: 70%;
  margin: 0 auto 0 auto;
  border: 1px solid #ffca3d;
}

.container {
  color: white;
  padding: 50px;
  display: flex;
}

.container > div {
  width: 30vw;
  margin: 10px auto 0 auto;
  text-align: center;
  align-items: center;
}

.container > div > h1 {
  font-family: "catchye demo";
  letter-spacing: 10px;
}

.container > div > h4 {
  color: #ffca3d;
  margin-bottom: 7vh;
}

.container > div > ul {
  list-style: none;
  text-align: center;
  margin-left: -10px;
}

.container > div > ul > li {
  display: inline-block;
  font-size: 13px;
  padding: 8px 25px;

  margin-right: 20px;
  color: #ffca3d;
  border: 1px solid #ffca3d;
  transition: all 1s;
}

.container > div > ul > li:hover {
  color: black;
  background-color: #ffca3d;
}

.container > div > p {
  font-size: 18px;
  color: #999487;
  margin-top: 5vh;
  font-family:'Times New Roman', Times, serif;
}

.container > img {
  width: 350px;
  height: 500px;
}

.text-item {
  margin: 0 auto 0 auto;
}
