html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
}

p {
  font-size: 16px;
  font-family: 'avenir';
}

a {
  text-decoration: none;
  color: #FFCA3D;
  font-size: 18px;
  font-family: 'avenir';
}

.navbar-list {
  position: sticky;
  top: 0;
  display: inline-block;
  align-items: center;
  padding: 5px 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  padding-right: 20px;
}

.movie-detail {
  width: 70%;
  margin: 0 auto 0 auto;
  border : 1px solid #FFCA3D;
}

.container {
  color: white;
  padding: 50px;
  display: flex;
}

.container > img {
  width: 400px;
  height: 500px;
}

.text-item {
  margin: 0 auto 0 auto;
}
