html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: 'avenir';
}

a {
  text-decoration: none;
  color: #FFCA3D;
  font-size: 18px;
  font-family: 'avenir';
}

.navbar-list {
  position: sticky;
  top: 0;
  display: inline-block;
  align-items: center;
  padding: 5px 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  padding-right: 20px;
}

.movie-detail {
  width: 70%;
  margin: 0 auto 0 auto;
  border : 1px solid black;
}

.container {
  display: grid;
  background-color: aqua;

  grid-template-columns: 200px 200px;
  grid-template-rows: 250px 250px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.item > img {
  width: 400px;
  height: 500px;
}

.item:nth-child(1) {
  grid-column-start: 1;
}

